/* App.css */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./assets/safaa-almohandis-HKWbVK1AQys-unsplash.png"); /* Public folder path */
  background-size: cover;
  background-position: center;
  color: #333;
}


.primary-button {
  background-color: #daa520; /* Goldenrod, from screenshot */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.primary-button:hover {
  background-color: #b8860b; /* Darker goldenrod */
}
html {
  scroll-behavior: smooth;
}

