/* Default Body Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  position: relative;
  overflow-x: hidden;
  transition: background-image 0.5s ease-in-out;
}

/* Background for Home Page */
.home-page {
  background-image: url("./assets/Noise\ &\ Texture.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Background for About Us Page */
.about-page {
  background-image: url("./assets/safaa-almohandis-HKWbVK1AQys-unsplash.png");
  background-size: contain; /* Ensures the full image fits inside the container */
  background-repeat: no-repeat;
  background-position: top center; /* Keeps it aligned */
}

/* Button Styles */
.primary-button {
  background-color: #daa520;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.primary-button:hover {
  background-color: #b8860b;
}
